body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  margin: 1rem;
}
.mobile {
  margin-bottom: 3rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.desktop {
  display: none;
}
@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop,
  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
}
section {
  margin: 3rem 0;
}
.pinky {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 350px;
  height: 273px;
  left: 138px;
  top: 46px;
}
p {
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  color: #ff3998;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  color: #111111;
  margin: 0;
}
article {
  color: #555555;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 9px 0;
}

button {
  border: solid 2px red;
  border-radius: 30px;
  padding: 1rem 3rem;
  background-color: white;
  margin-top: 2rem;
}

.companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
}
.companies img {
  width: 45%;
}

.background {
  background-image: url ("background.svg");
  background-repeat: no-repeat;
}
.boom {
  height: 39px;
  object-fit: contain;
  object-position: 3%;
}
h4 {
  font-weight: 530;
  font-size: 32px;
  color: #111111;
  line-height: 48px;
  margin-bottom: 0;
}

.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 2 1;
}
.footerTop p,
article,
h1 {
  margin: 2rem 0;
}
.green {
  position: relative;
  width: 45%;
}

.footerTop {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.footerTop h1 {
  border-bottom: solid 1px lightgray;
  width: 300%;
  z-index: 1;
}
.green {
  z-index: -1;
}
